<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>figure it out</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>figure it out.</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body class="bg-dark bg-subtle text-light">
    <h1 class="text-center fw-bold">figure it out.</h1>
    <div class="container">
        <div class="flex-container with-margins justify-content-around">
            <div class="d-flex justify-content-end">
                <a href="/dashboard" class="btn fw-italic fw-bold border border-warning btn-danger">Dashboard</a>
            <a href="/logout" class="btn fw-italic fw-bold border border-warning btn-danger">Logout</a>
            </div>
            <h2><strong>{{user.first_name}} {{user.last_name}}</strong></h2>
            <h6><a href="/figureitout/edit_account" class="text-decoration-none text-light">edit my info</a></h6>
            <div class="d-flex flex-container with-margins justify-content-around">
                <h3 class="text-center"><strong>My Action Figures</strong></h3>
            </div>
            <div class="d-flex flex-container justify-content-end">
                <a href="/figureitout/newfigure" class="btn fw-italic fw-bold border border-warning btn-danger justify-content-end">+ Add a New Figure</a>
            </div>
        </div>
        <div class="flex-container with-margins">
            <table class="table table-hover" method="post">
                <thead class="fw bold text-light">
                    <tr>
                        <th>Name</th>
                        <th>Brand</th>
                        <th>Line</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for figures_table in figures_table %}
                        <tr class="text-light">
                            {% if figures_table.user_id == session.user_id %}
                            <td class="fw-bold"><a href="/figureitout/view/{{figures_table.id}}" class="text-decoration-none text-warning">{{figures_table.figure_name}}</a>
                            </td>
                            <td>{{figures_table.brand}}</td>
                            <td>{{figures_table.line}}</td>
                            <td class="fw-italic">
                                <a href="/figureitout/edit/{{figures_table.id}}" class="text-decoration-none text-warning">Edit</a>
                                <a href="/figureitout/delete/{{figures_table.id}}" class="text-decoration-none text-warning">Delete</a>
                            </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>